Repository PartTimeLegend/newmachinebuild, changes with the labels that .github/labeler.yml gives for each.
All labels: github, mergify, docker, license, windows, mac, docs, python

Add TailScale Bootstrap
  NewMachineSetup.sh
Labels: mac

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Add Bash
  brews.txt
Labels: mac

Add Bash (#207)
  brews.txt
Labels: mac

Add Tailscale (#204)
  casks.txt
  chocolatey.txt
Labels: windows

Update NewMachineSetup.sh
  NewMachineSetup.sh
Labels: mac

I don't use Ubuntu so it doesn't matter
  .github/workflows/cicd.yml
Labels: none

Change to -n
  NewMachineSetup.sh
Labels: mac

Update NewMachineSetup.sh
  NewMachineSetup.sh
Labels: mac

Switch to container builds
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Move containers to Linux only as GH doesn't do Windows container operations.
  .github/workflows/cicd.yml
Labels: none

Make sure curl exists
  .github/workflows/cicd.yml
Labels: none

Add tqsl cask
  casks.txt
Labels: none

Add tqsl cask (#210)
  casks.txt
Labels: none

Add MacLoggerDX
  casks.txt
Labels: none

Add MacLoggerDX (#211)
  casks.txt
Labels: none

Add qt
  brews.txt
Labels: mac

Add qt (#212)
  brews.txt
Labels: mac

Create trunk-check.yml
  .github/workflows/trunk-check.yml
Labels: none

Create trunk-check.yml (#213)
  .github/workflows/trunk-check.yml
Labels: none

Add gridtracker
  casks.txt
Labels: none

Add gridtracker (#215)
  casks.txt
Labels: none

sbapp[macos]
  requirements.txt
Labels: python

sbapp[macos] (#216)
  requirements.txt
Labels: python

Update LICENSE
  LICENSE
Labels: license

Remove old software
  chocolatey.txt
Labels: windows

Remove old software (#223)
  chocolatey.txt
Labels: windows

Delete .github/workflows/trunk-check.yml
  .github/workflows/trunk-check.yml
Labels: none

Update Gemfile
  Gemfile
Labels: none

Delete .github/workflows/trunk-check.yml (#224)
  .github/workflows/trunk-check.yml
Labels: none

Update chocolatey.txt
  chocolatey.txt
Labels: windows

Update chocolatey.txt (#225)
  chocolatey.txt
Labels: windows

Update cicd.yml
  .github/workflows/cicd.yml
Labels: none

Update cicd.yml (#227)
  .github/workflows/cicd.yml
Labels: none

Remove autopsy as doesn't build
  brews.txt
Labels: mac

Remove autopsy as doesn't build (#231)
  brews.txt
Labels: mac

rem dup speedtest-cli
  brews.txt
Labels: mac

rem dup speedtest-cli (#233)
  brews.txt
Labels: mac

Add plantuml and argocd
  brews.txt
Labels: mac

.github/labeler.yml:

github:
- changed-files:
  - any-glob-to-any-file: .github/*
mergify:
- changed-files:
  - any-glob-to-any-file: .mergify.yml
docker:
- changed-files:
  - any-glob-to-any-file: Dockerfile
license:
- changed-files:
  - any-glob-to-any-file: LICENSE
windows:
- changed-files:
  - any-glob-to-any-file: NewMachineSetup.ps1
  - any-glob-to-any-file: chocolatey.txt
  - any-glob-to-any-file: features.txt
mac:
- changed-files:
  - any-glob-to-any-file: NewMachineSetup.sh
  - any-glob-to-any-file: brews.txt
docs:
- changed-files:
  - any-glob-to-any-file: README.md
  - any-glob-to-any-file: SECURITY.md
python:
- changed-files:
  - any-glob-to-any-file: requirements.txt
